<!DOCTYPE html>
<html>
  <head>
    <title>Update Card</title>
  </head>
  <body>
    <h1>Update Card</h1>
    <form action="/update-card-details" method="POST">
      <label for="expiryMonth">Expiry Month:</label>
      <input type="number" name="expiryMonth" /><br />

      <label for="expiryYear">Expiry Year:</label>
      <input type="number" name="expiryYear" /><br />

      <label for="cardName">Cardholder Name:</label>
      <input type="text" name="cardName" /><br />

      <label for="street">Street</label>
      <input type="text" name="street" /><br />

      <label for="streetLine2">Street Line 2</label>
      <input type="text" name="streetLine2" /><br />

      <label for="city">City</label>
      <input type="text" name="city" /><br />

      <label for="zipcode">Zip/Postal</label>
      <input type="number" name="zipcode" /><br />

      <label for="state">State/Provice</label>
      <input type="text" name="state" /><br />

      <label for="country">Country</label>
      <input type="text" name="country" /><br />

      <button type="submit">Update Card</button>
    </form>
  </body>
</html>
